# Yarn
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins

# JetBrains
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff
*.log
*.pot

# Sphinx documentation
docs/_build/
venv
.readthedocs.yaml.bak

# Local symbolic links
tools/repo_manager

# Generated content
docs/source/_repos-available
docs/source/content

# Env var handling for when RTD has no access to private repos
.env

# Ignore all expected _static symlinks at docs/source/_static/ (except _local)
docs/source/_static/images/*
!docs/source/_static/images/_local
!docs/source/_static/images/_local/*

# Ignore auto-gen'd openapi specs
docs/source/_specs/openapi.*
docs/source/_specs/openapi.json
