# Normal, non-dev reqs
-r docs/requirements.txt

# Semantic git tag versioner: `bump2version patch`; see .bumpversion.cfg; increments .toml ver
bump2version

# PyPi deployment/upload
build  # dist builder: `python -m build`
twine  # build parser + PyPi deployer

# Test suite (no coverage due to being a Sphinx ext)
python-dotenv
pytest
pytest-order
