---
title: "REST API"
date: 2019-03-18T23:07:13.099Z
---

## [Models](models/)
{{#each models}}
- [{{this.Name}}](models/{{this._name}})
{{/each}}

## [Routes](routes/)
{{#each routes}}
- [{{this.Name}}Route](routes/{{this._name}}route)
{{/each}}