<a class="{{ button_classes | default('xsui-button xsui-button--appearance-primary xsui-button--size-lg') }} {{ extra_classes | default('') }}" href="{{ button_link }}">
    <div class="xsui-button__wrapper">
        <div class="xsui-button__content">{{ button_text }}</div>
    </div>
</a>