---
title: "REST API"
date: 2019-05-24T20:03:25.798Z
---

## [Models](models/)
{{#each models}}
- [{{this.Name}}](models/{{this._name}})
{{/each}}

## [Routes](routes/)
{{#each routes}}
- [{{this.Name}}Route](routes/{{this._name}}route)
{{/each}}