myst-parser  # Auto-converts .md to .rst

# If ../sphinx_repo_manager exists, install it using `pip install -e ../sphinx_repo_manager`
# Otherwise, install the package from PyPI
../  # Outside this demo, you'd replace this with `sphinx_repo_manager`
#sphinx_repo_manager